/*main breakpoints for responsive*/
/*Aspect ratios*/
/*grid elements*/
/*top margins*/
/*bottom margins*/
/*top & bottom margins*/
/*left margings*/
/*right margings*/
/*left and right margins*/
/*paddings*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

body.post-type-page,
body.post-type-post {
	max-width: 720px;
}

blockquote,
q {
	quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

hr {
	height: 1px;
	margin-bottom: 1.5em;
	border: 0;
	background-color: #ccc;
}

img {
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	height: auto;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

a {
	text-decoration: none;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}

.button,
a.button {
	display: inline-block;
	padding: 12px 20px;
	border: solid 1px #fff;
	border-radius: 0;
	color: #333;
	font-weight: 400;
	text-decoration: none;
	-webkit-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.button.small,
a.button.small {
	padding: 8px 13px; 
	font-size: 14.4px;
	font-size: 0.9rem;
}
.button.fat,
a.button.fat {
	font-weight: 700;
}
.button.large,
a.button.large {
	padding: 18px 24px; 
	font-size: 19.2px;
	font-size: 1.2rem;
}
.button.white,
a.button.white {
	border: solid 1px #fff; 
	color: #fff;
}
.button.white:active,
.button.white:focus,
.button.white:hover,
a.button.white:active,
a.button.white:focus,
a.button.white:hover {
	color: #333; 
	background: #fff;
}
.button.black,
a.button.black {
	border: solid 1px #333; 
	color: #333;
}
.button.black:active,
.button.black:focus,
.button.black:hover,
a.button.black:active,
a.button.black:focus,
a.button.black:hover {
	color: #fff; 
	background: #333;
}
.button.no-border,
a.button.no-border {
	border: 0;
}

ul,
ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	padding-left: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.entry-content ol {
	margin: 1rem 0rem 1.5rem 1.5rem;
	padding: 0; 
	list-style-type: none;
	counter-reset: section;
}
.entry-content ol li {
	margin-bottom: 10px;
}
.entry-content ol li:before {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px; 
	border-radius: 50%;
	color: #fff;
	background: #ec5423;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	content: counters(section, ".") " ";
	counter-increment: section;
}

.entry-content ul {
	margin: 1rem 0rem 1.5rem 1.5rem;
	padding: 0; 
	list-style-type: none;
}
.entry-content ul li {
	margin-bottom: 10px;
}
.entry-content ul li:before {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px; 
	border-radius: 50%;
	color: #fff;
	background: #f79238;
	font-family: FontAwesome;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	content: "\f105";
}

table {
	width: 100%; 
	margin: 0 0 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #1f3243; 
	font-weight: bold;
	line-height: 1.35em;
}
h1.inline,
h2.inline,
h3.inline,
h4.inline,
h5.inline,
h6.inline {
	clear: none;
}
h1.fat,
h2.fat,
h3.fat,
h4.fat,
h5.fat,
h6.fat {
	font-weight: 500;
}
h1 a,
h1 a:visited,
h1 a:active,
h2 a,
h2 a:visited,
h2 a:active,
h3 a,
h3 a:visited,
h3 a:active,
h4 a,
h4 a:visited,
h4 a:active,
h5 a,
h5 a:visited,
h5 a:active,
h6 a,
h6 a:visited,
h6 a:active {
	color: inherit;
}

h1 {
	font-size: 36px;
	font-size: 2.25rem;
}
h1.big {
	font-size: 45px;
	font-size: 2.8125rem;
}
h1.small {
	font-size: 27px;
	font-size: 1.6875rem;
}

h2 {
	font-size: 28px;
	font-size: 1.75rem;
}
h2.big {
	font-size: 35px;
	font-size: 2.1875rem;
}
h2.small {
	font-size: 21px;
	font-size: 1.3125rem;
}

h3 {
	font-size: 22.4px;
	font-size: 1.4rem;
}
h3.big {
	font-size: 28px;
	font-size: 1.75rem;
}
h3.small {
	font-size: 16.8px;
	font-size: 1.05rem;
}

h4 {
	font-size: 19.2px;
	font-size: 1.2rem;
}
h4.big {
	font-size: 24px;
	font-size: 1.5rem;
}
h4.small {
	font-size: 14.4px;
	font-size: 0.9rem;
}

h5 {
	font-size: 16px;
	font-size: 1rem;
}
h5.big {
	font-size: 20px;
	font-size: 1.25rem;
}
h5.small {
	font-size: 12px;
	font-size: 0.75rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}
h6.big {
	font-size: 20px;
	font-size: 1.25rem;
}
h6.small {
	font-size: 12px;
	font-size: 0.75rem;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	max-width: 100%;
	margin-bottom: 1.6em;
	padding: 1.6em; 
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0; 
	border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	max-width: 100%; 
	margin-bottom: 1.5em;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-right: auto; 
	margin-left: auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	width: 100%; 
	text-align: center;
	vertical-align: top;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
