
//sidebar widgets
.widget {
	margin: 0 0 1.5em;
	@include box-shadow();
	padding: 15px;
	background: #fff;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	
	/*search widget*/
	&.widget_search{
	  .search-input{
	    width: 100%;
	  }
	  .search-submit{
	    margin-top: 15px;
	  }
	}
	
}
