/*
 * Comment Styling (used on posts and pages)
 */

.comments-area{
  
  //Listing of comments
  .comment-list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    //each single comment
    .comment{
      padding: 0px;
    }

    .comment .comment-author img{
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 7px;
    }
    
    .comment .comment-author .fn{
      text-transform: uppercase;
      font-size: 90%;
    }
    
    .comment-body{
      border-bottom: dashed 1px #e8e8e8;
      padding-bottom: 10px;
      position: relative;
      border-left: solid 3px orange;
      padding-left: 15px;
      background: #f9f9f9;
      padding: 15px;
      margin-bottom: 15px;
    }
    .comment-content{
      font-style: italic;
      margin: 10px auto;
    }
    .comment-metadata{
      margin-top: 5px;
    }
    
  }
  //respond controls
  .comment-respond{
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 15px;
    
    
    #cancel-comment-reply-link{
      background: #333;
      color: #fff;
      font-weight: normal;
      padding: 6px 12px;
      display: inline-block;
      float: right;
      font-size: 80%;
    }
  }
  
  .comment-list a{
     color: inherit;
  }

  //buttons / interactivity
  .comment-edit-link{
    float: right;
  }
  
  a.comment-reply-link{
    background: orange;
    color: #fff;
    padding: 6px 12px;
  }
  a.comment-edit-link{

  }

  
 
 
  
  
}
