html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after { 
	box-sizing: inherit;
}

blockquote, q {
	color: inherit;
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
	border-color: inherit;
	border-top: solid 1px;
	border-bottom: solid 1px;
	margin: 0px 0px 1.5em 0px;
	font-style: italic;
	font-size: 1.35em;
	
	&:before,
	&:after {
		font-family: FontAwesome;
		font-size: 1em;
		display: inline-block;
		opacity: 0.6;
	}
	&:before{
	  content: '\f10d';
	  margin-right: 10px;
	}
	&:after{
	  content: '\f10e';
	  margin-left: 10px;
	}
	p{
	  display: inline;
	}
}

hr {
	background-color: inherit;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
	
	&.fat{
	  height: 5px;
	}
	&.medium{
	  height: 2.5px;
	}
	
	
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


@import "lists";

@import "tables";