$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #eceff1;
$color__background-pre: #eceff1;
$color__background-ins: #fff9c0;

$color__background-header: #000;
$color__background-footer: #404040;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #ff9800;
$color__link-visited: #ff9800;
$color__link-hover: #ef6c00;
$color__text-main: #404040;
$color__text-secondary: #909090;
$color__text-tertiary: #A0A0A0;
$color__text-code: #bd4147;
$color__text-blockquote: #909090;

$color__text-footer: #A0A0A0;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-message: #16a085;
$color__background-error: #e74c3c;
