.menu-toggle {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
	padding: 0;
    text-shadow: none;
    width: 48px;
    height: 48px;
    line-height: 1rem;
    position: absolute;
    top: -60px;
    right: 0;
	border-radius: 0;
    box-shadow: 0 0 0 0;
	.icon {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		fill: #fff;
		.toggled &.icon-close {
			display: inline-block;
		}

		.toggled &.icon-menu,
		&.icon-close {
			display: none;
		}
	}
	.toggled &,
	&:hover,
	&:active,
	&:focus {
		background-color: #fff;
		border-color: #fff;
		color: $color__text-main;
		.icon {
			fill: $color__text-main;
		}
	}
	&:focus {
		outline: none;
	}
}

.sub-menu-toggle {
	background-color: transparent;
	border: none;
	border-left: 1px solid rgba( 0,0,0,.1 );
	width: 52px;
	height: 52px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	.icon {
		display: inline-block;
		fill: $color__text-main;
		width: 1rem;
		height: 1rem;
	}

	.icon-collapse,
	&.toggled .icon-expand {
		display: none;
	}

	&.toggled .icon-collapse {
		display: inline-block;
	}

	&:active,
	&:hover,
	&:focus {
		background-color: transparent;
	}

}

.main-navigation {
	display: block;
	clear: both;
	position: relative;
	z-index: 5;

	> .wrap {
		background-color: #fff;
		clear: both;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		display: none;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
		box-shadow: 0 8px 16px rgba(0,0,0,.3);
	}

	.nav-menu {
		display: none;
	}

	&.toggled {
		> .wrap,
		ul.menu {
			display: block;
		}
	}

	.sub-menu {
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
		text-align: left;
		padding: 0;
		li {
			border-top: 1px solid rgba( 0,0,0,.1 );
			padding: 0;
			position: relative;
		}
		li:first-child {
			border-top: 0;
		}
		ul {
			background-color: rgba(0,0,0,.05);
			border-top: 1px solid rgba( 0,0,0,.1 );
			a {
				font-weight: normal;
				text-transform: inherit;
			}
		}
	}

	a {
		color: $color__text-main;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		line-height: 1.7143;
		padding: 1em;
		text-decoration: none;
		text-transform: uppercase;
		opacity: 0.5;
	}

	a:hover,
	a:focus,
	ul > :hover > a,
	ul > .focus > a,
	li.current_page_item > a,
	li.current-menu-item > a,
	li.current_page_ancestor > a,
	li.current-menu-ancestor > a {
		color: $color__link-hover;
		opacity: 1;
	}

}

.main-navigation .wrap::-webkit-scrollbar { width: 0 !important; }
.main-navigation .wrap { -ms-overflow-style: none; }
.main-navigation .wrap { overflow: -moz-scrollbars-none; }

/** Breadcrumb */
#breadcrumb {
	background-color: transparent;
	border-bottom: 1px solid rgba( 0,0,0,.05 );
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/** Navigation / Pagination */
.comment-navigation,
.posts-navigation,
.post-navigation {
	clear: both;
	overflow: hidden;

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
		a {
			margin-left: -1px;
		}
	}
	a {
		color: $color__text-main;
		display: block;
		@include font-size(0.875);
		padding: 1.5rem 0;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: $color__text-secondary;
			display: block;
			text-transform: lowercase;
		}
		&:hover,
		&:focus {
			color: $color__link-hover;
			span {
				color: #fff;
				opacity: 0.75;
			}
		}
	}
}

.posts-navigation,
.post-navigation {

	.nav-previous,
	.nav-next {
		a {
			background-color: transparent;
			border: 1px solid rgba( 0,0,0,.05 );
			color: $color__text-main;
			display: block;
			padding: 1.5rem 1rem;
			transition: all 0.1s ease-in-out;
			&:hover,
			&:focus {
				background-color: $color__link;
				color: #fff;
			}
		}
	}
}

.pagination {
	clear: both;
	display: block;
	position: relative;
	border-radius: 0;
	text-align: center;
	font-size: 0;
}

.page-numbers {
	background-color: transparent;
	border: 1px solid rgba( 0,0,0,.05 );
	color: $color__text-secondary;
	display: none;
	font-weight: bold;
	padding: 1.5rem 1.75rem;
	@include font-size(1);
	line-height: 1;
	margin-left: -1px;
	&.current {
		color: $color__text-secondary;
		display: inline-block;
		.screen-reader-text {
		    clip: auto;
		    height: auto;
		    overflow: auto;
		    position: relative !important;
		    width: auto;
		    text-transform: uppercase;
		}
	}
	&.next,
	&.prev {
		display: block;
		position: absolute;
		top: 0;
	}
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover:not(.current),
	&:focus:not(.current) {
		background-color: $color__link;
		border-color: $color__link;
		color: #fff;
	}
	&.dots{
		&:hover,
		&:focus {
			background-color: inherit!important;
			border-color: rgba( 0,0,0,.05 )!important;
			color: $color__text-secondary!important;
		}
	}
}
